<html ng-app="showcard">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="statics/bootstrap-3.3.4/css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="statics/bootstrap-3.3.4/css/bootstrap-theme.css"/>
	<link rel="stylesheet" type="text/css" href="statics/main.css"/>
</head>

<body ng-controller="carouselCtrl">

	<div id="new_word_bar">
		<form ng-submit="addCard()">
			<label>Read a new word somewhere? </label>
			<input type="text" ng-model="newWord" placeholder="Type here!"/>
			<input class="btn-primary" type="submit" value="add"/>
		</form>
	</div>

	<div id="slides_control">
		<carousel>
			<slide ng-repeat="slide in slides" active="slide.active">
				<div class="carousel-caption">
					<h1>{{slide.content}}</h1>
					<p>No. {{$index+1}}</p>
				</div>

			</slide>
		</carousel>
	</div>

	<!-- End of slide - card -->
	</div>
	  
	
	<script src="statics/js/jquery.min.js"></script>
	<script src="statics/js/angular.min.js"></script>
	<script src="statics/bootstrap-3.3.4/js/bootstrap.min.js"></script>
	<script src="statics/js/app.js"></script>
	<script src="statics/js/ui-bootstrap-tpls.min.js"></script>
	<script src="statics/js/main_controller.js"></script>

</body>
</html>
