.slide-cards {

	width:1000px;
	background-color: rgb(52, 152, 219);
	margin: auto;
	margin-top: 30px; 
}

#new_word_bar {
	position:absolute;
	left:40%;
	top:10%;
}


#slides_control {
  	position:absolute;
  	width: 600px;
  	left:40%;
  	top:35%;
	margin-left:-200px;
}

	#slides_control > div{
	  height: 300px;
	}


	.carousel-caption{
		position:static;
		color:red;
		background: border-box;

	}

	.word-explaination li{
		color:#000000;
		text-align: left;
	}